# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
java_pid12216.hprof

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/test/
logs/

# Files from Forge MDK
forge*changelog.txt